<!-- Cart Page -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Mi Carrito</h1>
                <div id="cart-container">
                    <div class="text-center py-4">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Cargando carrito...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 